GP.Utilix/.idea/.idea.GP.Utilix/.idea/.gitignore
GP.Utilix/.idea/.idea.GP.Utilix/.idea/encodings.xml
GP.Utilix/.idea/.idea.GP.Utilix/.idea/indexLayout.xml
GP.Utilix/.idea/.idea.GP.Utilix/.idea/vcs.xml
GP.Utilix/GP.Utilix/obj/GP.Utilix.csproj.nuget.dgspec.json
GP.Utilix/GP.Utilix/obj/GP.Utilix.csproj.nuget.g.props
GP.Utilix/GP.Utilix/obj/GP.Utilix.csproj.nuget.g.targets
GP.Utilix/GP.Utilix/obj/project.assets.json
GP.Utilix/GP.Utilix/obj/project.nuget.cache
GP.Utilix/GP.Utilix/obj/project.packagespec.json
GP.Utilix/GP.Utilix/obj/rider.project.restore.info
GP.Utilix/GP.Utilix/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
GP.Utilix/GP.Utilix/obj/Debug/net6.0/GP.Utilix.AssemblyInfo.cs
GP.Utilix/GP.Utilix/obj/Debug/net6.0/GP.Utilix.AssemblyInfoInputs.cache
GP.Utilix/GP.Utilix/obj/Debug/net6.0/GP.Utilix.assets.cache
GP.Utilix/GP.Utilix/obj/Debug/net6.0/GP.Utilix.csproj.AssemblyReference.cache
GP.Utilix/GP.Utilix/obj/Debug/net6.0/GP.Utilix.csproj.CoreCompileInputs.cache
GP.Utilix/GP.Utilix/obj/Debug/net6.0/GP.Utilix.csproj.FileListAbsolute.txt
GP.Utilix/GP.Utilix/obj/Debug/net6.0/GP.Utilix.dll
GP.Utilix/GP.Utilix/obj/Debug/net6.0/GP.Utilix.GeneratedMSBuildEditorConfig.editorconfig
GP.Utilix/GP.Utilix/obj/Debug/net6.0/GP.Utilix.GlobalUsings.g.cs
GP.Utilix/GP.Utilix/obj/Debug/net6.0/GP.Utilix.pdb
GP.Utilix/GP.Utilix/obj/Debug/net6.0/ref/GP.Utilix.dll
GP.Utilix/GP.Utilix/obj/Debug/net6.0/refint/GP.Utilix.dll
GP.ECommerce1/GP.Utilix/bin/Debug/net6.0/GP.Utilix.deps.json
GP.ECommerce1/GP.Utilix/bin/Debug/net6.0/GP.Utilix.dll
GP.ECommerce1/GP.Utilix/bin/Debug/net6.0/GP.Utilix.pdb
GP.ECommerce1/GP.Utilix/obj/GP.Utilix.csproj.nuget.dgspec.json
GP.ECommerce1/GP.Utilix/obj/GP.Utilix.csproj.nuget.g.props
GP.ECommerce1/GP.Utilix/obj/GP.Utilix.csproj.nuget.g.targets
GP.ECommerce1/GP.Utilix/obj/project.assets.json
GP.ECommerce1/GP.Utilix/obj/project.nuget.cache
GP.ECommerce1/GP.Utilix/obj/project.packagespec.json
GP.ECommerce1/GP.Utilix/obj/rider.project.restore.info
GP.ECommerce1/GP.Utilix/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
GP.ECommerce1/GP.Utilix/obj/Debug/net6.0/GP.Utilix.AssemblyInfo.cs
GP.ECommerce1/GP.Utilix/obj/Debug/net6.0/GP.Utilix.AssemblyInfoInputs.cache
GP.ECommerce1/GP.Utilix/obj/Debug/net6.0/GP.Utilix.assets.cache
GP.ECommerce1/GP.Utilix/obj/Debug/net6.0/GP.Utilix.csproj.AssemblyReference.cache
GP.ECommerce1/GP.Utilix/obj/Debug/net6.0/GP.Utilix.csproj.CoreCompileInputs.cache
GP.ECommerce1/GP.Utilix/obj/Debug/net6.0/GP.Utilix.csproj.FileListAbsolute.txt
GP.ECommerce1/GP.Utilix/obj/Debug/net6.0/GP.Utilix.dll
GP.ECommerce1/GP.Utilix/obj/Debug/net6.0/GP.Utilix.GeneratedMSBuildEditorConfig.editorconfig
GP.ECommerce1/GP.Utilix/obj/Debug/net6.0/GP.Utilix.GlobalUsings.g.cs
GP.ECommerce1/GP.Utilix/obj/Debug/net6.0/GP.Utilix.pdb
GP.ECommerce1/GP.Utilix/obj/Debug/net6.0/ref/GP.Utilix.dll
GP.ECommerce1/GP.Utilix/obj/Debug/net6.0/refint/GP.Utilix.dll
GP.Utilix/GP.Utilix/bin/Debug/net6.0/GP.Utilix.deps.json
GP.Utilix/GP.Utilix/bin/Debug/net6.0/GP.Utilix.dll
GP.Utilix/GP.Utilix/bin/Debug/net6.0/GP.Utilix.pdb
GP.ECommerce1/GP.ECommerce1.Infrastructure.Sql/obj/GP.ECommerce1.Infrastructure.Sql.csproj.nuget.dgspec.json
GP.ECommerce1/GP.ECommerce1.Infrastructure.Sql/obj/GP.ECommerce1.Infrastructure.Sql.csproj.nuget.g.props
GP.ECommerce1/GP.ECommerce1.Infrastructure.Sql/obj/GP.ECommerce1.Infrastructure.Sql.csproj.nuget.g.targets
GP.ECommerce1/GP.ECommerce1.Infrastructure.Sql/obj/project.assets.json
GP.ECommerce1/GP.ECommerce1.Infrastructure.Sql/obj/project.nuget.cache
GP.ECommerce1/GP.ECommerce1.Infrastructure.Sql/obj/project.packagespec.json
GP.ECommerce1/GP.ECommerce1.Infrastructure.Sql/obj/rider.project.restore.info
GP.ECommerce1/GP.ECommerce1.Infrastructure.Sql/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
GP.ECommerce1/GP.ECommerce1.Infrastructure.Sql/obj/Debug/net6.0/GP.ECommerce1.Infrastructure.Sql.AssemblyInfo.cs
GP.ECommerce1/GP.ECommerce1.Infrastructure.Sql/obj/Debug/net6.0/GP.ECommerce1.Infrastructure.Sql.AssemblyInfoInputs.cache
GP.ECommerce1/GP.ECommerce1.Infrastructure.Sql/obj/Debug/net6.0/GP.ECommerce1.Infrastructure.Sql.assets.cache
GP.ECommerce1/GP.ECommerce1.Infrastructure.Sql/obj/Debug/net6.0/GP.ECommerce1.Infrastructure.Sql.csproj.AssemblyReference.cache
GP.ECommerce1/GP.ECommerce1.Infrastructure.Sql/obj/Debug/net6.0/GP.ECommerce1.Infrastructure.Sql.csproj.CopyComplete
GP.ECommerce1/GP.ECommerce1.Infrastructure.Sql/obj/Debug/net6.0/GP.ECommerce1.Infrastructure.Sql.csproj.CoreCompileInputs.cache
GP.ECommerce1/GP.ECommerce1.Infrastructure.Sql/obj/Debug/net6.0/GP.ECommerce1.Infrastructure.Sql.csproj.FileListAbsolute.txt
GP.ECommerce1/GP.ECommerce1.Infrastructure.Sql/obj/Debug/net6.0/GP.ECommerce1.Infrastructure.Sql.dll
GP.ECommerce1/GP.ECommerce1.Infrastructure.Sql/obj/Debug/net6.0/GP.ECommerce1.Infrastructure.Sql.GeneratedMSBuildEditorConfig.editorconfig
GP.ECommerce1/GP.ECommerce1.Infrastructure.Sql/obj/Debug/net6.0/GP.ECommerce1.Infrastructure.Sql.GlobalUsings.g.cs
GP.ECommerce1/GP.ECommerce1.Infrastructure.Sql/obj/Debug/net6.0/GP.ECommerce1.Infrastructure.Sql.pdb
GP.ECommerce1/GP.ECommerce1.Infrastructure.Sql/obj/Debug/net6.0/ref/GP.ECommerce1.Infrastructure.Sql.dll
GP.ECommerce1/GP.ECommerce1.Infrastructure.Sql/obj/Debug/net6.0/refint/GP.ECommerce1.Infrastructure.Sql.dll
GP.ECommerce1/GP.ECommerce1.Infrastructure.Sql/bin/Debug/net6.0/GP.ECommerce1.Core.dll
GP.ECommerce1/GP.ECommerce1.Infrastructure.Sql/bin/Debug/net6.0/GP.ECommerce1.Core.pdb
GP.ECommerce1/GP.ECommerce1.Infrastructure.Sql/bin/Debug/net6.0/GP.ECommerce1.Infrastructure.Sql.deps.json
GP.ECommerce1/GP.ECommerce1.Infrastructure.Sql/bin/Debug/net6.0/GP.ECommerce1.Infrastructure.Sql.dll
GP.ECommerce1/GP.ECommerce1.Infrastructure.Sql/bin/Debug/net6.0/GP.ECommerce1.Infrastructure.Sql.pdb
GP.ECommerce1/GP.ECommerce1.Infrastructure.Sql/bin/Debug/net6.0/GP.Utilix.dll
GP.ECommerce1/GP.ECommerce1.Infrastructure.Sql/bin/Debug/net6.0/GP.Utilix.pdb
GP.ECommerce1/GP.ECommerce1.Infrastructure.MongoDb/obj/GP.ECommerce1.Infrastructure.MongoDb.csproj.nuget.dgspec.json
GP.ECommerce1/GP.ECommerce1.Infrastructure.MongoDb/obj/GP.ECommerce1.Infrastructure.MongoDb.csproj.nuget.g.props
GP.ECommerce1/GP.ECommerce1.Infrastructure.MongoDb/obj/GP.ECommerce1.Infrastructure.MongoDb.csproj.nuget.g.targets
GP.ECommerce1/GP.ECommerce1.Infrastructure.MongoDb/obj/GP.ECommoerce1.Infrastructure.MongoDb.csproj.nuget.dgspec.json
GP.ECommerce1/GP.ECommerce1.Infrastructure.MongoDb/obj/GP.ECommoerce1.Infrastructure.MongoDb.csproj.nuget.g.props
GP.ECommerce1/GP.ECommerce1.Infrastructure.MongoDb/obj/GP.ECommoerce1.Infrastructure.MongoDb.csproj.nuget.g.targets
GP.ECommerce1/GP.ECommerce1.Infrastructure.MongoDb/obj/project.assets.json
GP.ECommerce1/GP.ECommerce1.Infrastructure.MongoDb/obj/project.nuget.cache
GP.ECommerce1/GP.ECommerce1.Infrastructure.MongoDb/obj/project.packagespec.json
GP.ECommerce1/GP.ECommerce1.Infrastructure.MongoDb/obj/rider.project.restore.info
GP.ECommerce1/GP.ECommerce1.Infrastructure.MongoDb/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
GP.ECommerce1/GP.ECommerce1.Infrastructure.MongoDb/obj/Debug/net6.0/GP.ECommerce1.Infrastructure.MongoDb.AssemblyInfo.cs
GP.ECommerce1/GP.ECommerce1.Infrastructure.MongoDb/obj/Debug/net6.0/GP.ECommerce1.Infrastructure.MongoDb.AssemblyInfoInputs.cache
GP.ECommerce1/GP.ECommerce1.Infrastructure.MongoDb/obj/Debug/net6.0/GP.ECommerce1.Infrastructure.MongoDb.assets.cache
GP.ECommerce1/GP.ECommerce1.Infrastructure.MongoDb/obj/Debug/net6.0/GP.ECommerce1.Infrastructure.MongoDb.csproj.AssemblyReference.cache
GP.ECommerce1/GP.ECommerce1.Infrastructure.MongoDb/obj/Debug/net6.0/GP.ECommerce1.Infrastructure.MongoDb.csproj.CopyComplete
GP.ECommerce1/GP.ECommerce1.Infrastructure.MongoDb/obj/Debug/net6.0/GP.ECommerce1.Infrastructure.MongoDb.csproj.CoreCompileInputs.cache
GP.ECommerce1/GP.ECommerce1.Infrastructure.MongoDb/obj/Debug/net6.0/GP.ECommerce1.Infrastructure.MongoDb.csproj.FileListAbsolute.txt
GP.ECommerce1/GP.ECommerce1.Infrastructure.MongoDb/obj/Debug/net6.0/GP.ECommerce1.Infrastructure.MongoDb.dll
GP.ECommerce1/GP.ECommerce1.Infrastructure.MongoDb/obj/Debug/net6.0/GP.ECommerce1.Infrastructure.MongoDb.GeneratedMSBuildEditorConfig.editorconfig
GP.ECommerce1/GP.ECommerce1.Infrastructure.MongoDb/obj/Debug/net6.0/GP.ECommerce1.Infrastructure.MongoDb.GlobalUsings.g.cs
GP.ECommerce1/GP.ECommerce1.Infrastructure.MongoDb/obj/Debug/net6.0/GP.ECommerce1.Infrastructure.MongoDb.pdb
GP.ECommerce1/GP.ECommerce1.Infrastructure.MongoDb/obj/Debug/net6.0/GP.ECommoerce1.Infrastructure.MongoDb.AssemblyInfo.cs
GP.ECommerce1/GP.ECommerce1.Infrastructure.MongoDb/obj/Debug/net6.0/GP.ECommoerce1.Infrastructure.MongoDb.AssemblyInfoInputs.cache
GP.ECommerce1/GP.ECommerce1.Infrastructure.MongoDb/obj/Debug/net6.0/GP.ECommoerce1.Infrastructure.MongoDb.assets.cache
GP.ECommerce1/GP.ECommerce1.Infrastructure.MongoDb/obj/Debug/net6.0/GP.ECommoerce1.Infrastructure.MongoDb.csproj.AssemblyReference.cache
GP.ECommerce1/GP.ECommerce1.Infrastructure.MongoDb/obj/Debug/net6.0/GP.ECommoerce1.Infrastructure.MongoDb.GeneratedMSBuildEditorConfig.editorconfig
GP.ECommerce1/GP.ECommerce1.Infrastructure.MongoDb/obj/Debug/net6.0/GP.ECommoerce1.Infrastructure.MongoDb.GlobalUsings.g.cs
GP.ECommerce1/GP.ECommerce1.Infrastructure.MongoDb/obj/Debug/net6.0/ref/GP.ECommerce1.Infrastructure.MongoDb.dll
GP.ECommerce1/GP.ECommerce1.Infrastructure.MongoDb/obj/Debug/net6.0/refint/GP.ECommerce1.Infrastructure.MongoDb.dll
GP.ECommerce1/GP.ECommerce1.Infrastructure.MongoDb/bin/Debug/net6.0/GP.ECommerce1.Core.dll
GP.ECommerce1/GP.ECommerce1.Infrastructure.MongoDb/bin/Debug/net6.0/GP.ECommerce1.Core.pdb
GP.ECommerce1/GP.ECommerce1.Infrastructure.MongoDb/bin/Debug/net6.0/GP.ECommerce1.Infrastructure.MongoDb.deps.json
GP.ECommerce1/GP.ECommerce1.Infrastructure.MongoDb/bin/Debug/net6.0/GP.ECommerce1.Infrastructure.MongoDb.dll
GP.ECommerce1/GP.ECommerce1.Infrastructure.MongoDb/bin/Debug/net6.0/GP.ECommerce1.Infrastructure.MongoDb.pdb
GP.ECommerce1/GP.ECommerce1.Infrastructure.MongoDb/bin/Debug/net6.0/GP.Utilix.dll
GP.ECommerce1/GP.ECommerce1.Infrastructure.MongoDb/bin/Debug/net6.0/GP.Utilix.pdb
GP.ECommerce1/GP.ECommerce1.Infrastructure.DataSeeder/obj/GP.ECommerce1.Infrastructure.DataSeeder.csproj.nuget.dgspec.json
GP.ECommerce1/GP.ECommerce1.Infrastructure.DataSeeder/obj/GP.ECommerce1.Infrastructure.DataSeeder.csproj.nuget.g.props
GP.ECommerce1/GP.ECommerce1.Infrastructure.DataSeeder/obj/GP.ECommerce1.Infrastructure.DataSeeder.csproj.nuget.g.targets
GP.ECommerce1/GP.ECommerce1.Infrastructure.DataSeeder/obj/GP.ECommerce1.Infrastructure.DataSeeding.csproj.nuget.dgspec.json
GP.ECommerce1/GP.ECommerce1.Infrastructure.DataSeeder/obj/GP.ECommerce1.Infrastructure.DataSeeding.csproj.nuget.g.props
GP.ECommerce1/GP.ECommerce1.Infrastructure.DataSeeder/obj/GP.ECommerce1.Infrastructure.DataSeeding.csproj.nuget.g.targets
GP.ECommerce1/GP.ECommerce1.Infrastructure.DataSeeder/obj/project.assets.json
GP.ECommerce1/GP.ECommerce1.Infrastructure.DataSeeder/obj/project.nuget.cache
GP.ECommerce1/GP.ECommerce1.Infrastructure.DataSeeder/obj/project.packagespec.json
GP.ECommerce1/GP.ECommerce1.Infrastructure.DataSeeder/obj/rider.project.restore.info
GP.ECommerce1/GP.ECommerce1.Infrastructure.DataSeeder/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
GP.ECommerce1/GP.ECommerce1.Infrastructure.DataSeeder/obj/Debug/net6.0/GP.ECommerce1.Infrastructure.DataSeeder.AssemblyInfo.cs
GP.ECommerce1/GP.ECommerce1.Infrastructure.DataSeeder/obj/Debug/net6.0/GP.ECommerce1.Infrastructure.DataSeeder.AssemblyInfoInputs.cache
GP.ECommerce1/GP.ECommerce1.Infrastructure.DataSeeder/obj/Debug/net6.0/GP.ECommerce1.Infrastructure.DataSeeder.assets.cache
GP.ECommerce1/GP.ECommerce1.Infrastructure.DataSeeder/obj/Debug/net6.0/GP.ECommerce1.Infrastructure.DataSeeder.csproj.AssemblyReference.cache
GP.ECommerce1/GP.ECommerce1.Infrastructure.DataSeeder/obj/Debug/net6.0/GP.ECommerce1.Infrastructure.DataSeeder.csproj.CopyComplete
GP.ECommerce1/GP.ECommerce1.Infrastructure.DataSeeder/obj/Debug/net6.0/GP.ECommerce1.Infrastructure.DataSeeder.csproj.CoreCompileInputs.cache
GP.ECommerce1/GP.ECommerce1.Infrastructure.DataSeeder/obj/Debug/net6.0/GP.ECommerce1.Infrastructure.DataSeeder.csproj.FileListAbsolute.txt
GP.ECommerce1/GP.ECommerce1.Infrastructure.DataSeeder/obj/Debug/net6.0/GP.ECommerce1.Infrastructure.DataSeeder.dll
GP.ECommerce1/GP.ECommerce1.Infrastructure.DataSeeder/obj/Debug/net6.0/GP.ECommerce1.Infrastructure.DataSeeder.GeneratedMSBuildEditorConfig.editorconfig
GP.ECommerce1/GP.ECommerce1.Infrastructure.DataSeeder/obj/Debug/net6.0/GP.ECommerce1.Infrastructure.DataSeeder.GlobalUsings.g.cs
GP.ECommerce1/GP.ECommerce1.Infrastructure.DataSeeder/obj/Debug/net6.0/GP.ECommerce1.Infrastructure.DataSeeder.pdb
GP.ECommerce1/GP.ECommerce1.Infrastructure.DataSeeder/obj/Debug/net6.0/GP.ECommerce1.Infrastructure.DataSeeding.AssemblyInfo.cs
GP.ECommerce1/GP.ECommerce1.Infrastructure.DataSeeder/obj/Debug/net6.0/GP.ECommerce1.Infrastructure.DataSeeding.AssemblyInfoInputs.cache
GP.ECommerce1/GP.ECommerce1.Infrastructure.DataSeeder/obj/Debug/net6.0/GP.ECommerce1.Infrastructure.DataSeeding.assets.cache
GP.ECommerce1/GP.ECommerce1.Infrastructure.DataSeeder/obj/Debug/net6.0/GP.ECommerce1.Infrastructure.DataSeeding.csproj.AssemblyReference.cache
GP.ECommerce1/GP.ECommerce1.Infrastructure.DataSeeder/obj/Debug/net6.0/GP.ECommerce1.Infrastructure.DataSeeding.GeneratedMSBuildEditorConfig.editorconfig
GP.ECommerce1/GP.ECommerce1.Infrastructure.DataSeeder/obj/Debug/net6.0/GP.ECommerce1.Infrastructure.DataSeeding.GlobalUsings.g.cs
GP.ECommerce1/GP.ECommerce1.Infrastructure.DataSeeder/obj/Debug/net6.0/ref/GP.ECommerce1.Infrastructure.DataSeeder.dll
GP.ECommerce1/GP.ECommerce1.Infrastructure.DataSeeder/obj/Debug/net6.0/refint/GP.ECommerce1.Infrastructure.DataSeeder.dll
GP.ECommerce1/GP.ECommerce1.Infrastructure.DataSeeder/bin/Debug/net6.0/GP.ECommerce1.Core.dll
GP.ECommerce1/GP.ECommerce1.Infrastructure.DataSeeder/bin/Debug/net6.0/GP.ECommerce1.Core.pdb
GP.ECommerce1/GP.ECommerce1.Infrastructure.DataSeeder/bin/Debug/net6.0/GP.ECommerce1.Infrastructure.DataSeeder.deps.json
GP.ECommerce1/GP.ECommerce1.Infrastructure.DataSeeder/bin/Debug/net6.0/GP.ECommerce1.Infrastructure.DataSeeder.dll
GP.ECommerce1/GP.ECommerce1.Infrastructure.DataSeeder/bin/Debug/net6.0/GP.ECommerce1.Infrastructure.DataSeeder.pdb
GP.ECommerce1/GP.ECommerce1.Infrastructure.DataSeeder/bin/Debug/net6.0/GP.Utilix.dll
GP.ECommerce1/GP.ECommerce1.Infrastructure.DataSeeder/bin/Debug/net6.0/GP.Utilix.pdb
GP.ECommerce1/GP.ECommerce1.Core/obj/GP.ECommerce1.Core.csproj.nuget.dgspec.json
GP.ECommerce1/GP.ECommerce1.Core/obj/GP.ECommerce1.Core.csproj.nuget.g.props
GP.ECommerce1/GP.ECommerce1.Core/obj/GP.ECommerce1.Core.csproj.nuget.g.targets
GP.ECommerce1/GP.ECommerce1.Core/obj/project.assets.json
GP.ECommerce1/GP.ECommerce1.Core/obj/project.nuget.cache
GP.ECommerce1/GP.ECommerce1.Core/obj/project.packagespec.json
GP.ECommerce1/GP.ECommerce1.Core/obj/rider.project.restore.info
GP.ECommerce1/GP.ECommerce1.Core/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
GP.ECommerce1/GP.ECommerce1.Core/obj/Debug/net6.0/GP.ECommerce1.Core.AssemblyInfo.cs
GP.ECommerce1/GP.ECommerce1.Core/obj/Debug/net6.0/GP.ECommerce1.Core.AssemblyInfoInputs.cache
GP.ECommerce1/GP.ECommerce1.Core/obj/Debug/net6.0/GP.ECommerce1.Core.assets.cache
GP.ECommerce1/GP.ECommerce1.Core/obj/Debug/net6.0/GP.ECommerce1.Core.csproj.AssemblyReference.cache
GP.ECommerce1/GP.ECommerce1.Core/obj/Debug/net6.0/GP.ECommerce1.Core.csproj.CopyComplete
GP.ECommerce1/GP.ECommerce1.Core/obj/Debug/net6.0/GP.ECommerce1.Core.csproj.CoreCompileInputs.cache
GP.ECommerce1/GP.ECommerce1.Core/obj/Debug/net6.0/GP.ECommerce1.Core.csproj.FileListAbsolute.txt
GP.ECommerce1/GP.ECommerce1.Core/obj/Debug/net6.0/GP.ECommerce1.Core.dll
GP.ECommerce1/GP.ECommerce1.Core/obj/Debug/net6.0/GP.ECommerce1.Core.GeneratedMSBuildEditorConfig.editorconfig
GP.ECommerce1/GP.ECommerce1.Core/obj/Debug/net6.0/GP.ECommerce1.Core.GlobalUsings.g.cs
GP.ECommerce1/GP.ECommerce1.Core/obj/Debug/net6.0/GP.ECommerce1.Core.pdb
GP.ECommerce1/GP.ECommerce1.Core/obj/Debug/net6.0/ref/GP.ECommerce1.Core.dll
GP.ECommerce1/GP.ECommerce1.Core/obj/Debug/net6.0/refint/GP.ECommerce1.Core.dll
GP.ECommerce1/GP.ECommerce1.Core/bin/Debug/net6.0/GP.ECommerce1.Core.deps.json
GP.ECommerce1/GP.ECommerce1.Core/bin/Debug/net6.0/GP.ECommerce1.Core.dll
GP.ECommerce1/GP.ECommerce1.Core/bin/Debug/net6.0/GP.ECommerce1.Core.pdb
GP.ECommerce1/GP.ECommerce1.Core/bin/Debug/net6.0/GP.Utilix.dll
GP.ECommerce1/GP.ECommerce1.Core/bin/Debug/net6.0/GP.Utilix.pdb
GP.ECommerce1/GP.ECommerce1.Api.Sql/obj/API.csproj.nuget.dgspec.json
GP.ECommerce1/GP.ECommerce1.Api.Sql/obj/API.csproj.nuget.g.props
GP.ECommerce1/GP.ECommerce1.Api.Sql/obj/API.csproj.nuget.g.targets
GP.ECommerce1/GP.ECommerce1.Api.Sql/obj/GP.ECommerce1.Api.Sql.csproj.nuget.dgspec.json
GP.ECommerce1/GP.ECommerce1.Api.Sql/obj/GP.ECommerce1.Api.Sql.csproj.nuget.g.props
GP.ECommerce1/GP.ECommerce1.Api.Sql/obj/GP.ECommerce1.Api.Sql.csproj.nuget.g.targets
GP.ECommerce1/GP.ECommerce1.Api.Sql/obj/project.assets.json
GP.ECommerce1/GP.ECommerce1.Api.Sql/obj/project.nuget.cache
GP.ECommerce1/GP.ECommerce1.Api.Sql/obj/project.packagespec.json
GP.ECommerce1/GP.ECommerce1.Api.Sql/obj/rider.project.restore.info
GP.ECommerce1/GP.ECommerce1.Api.Sql/obj/staticwebassets.pack.sentinel
GP.ECommerce1/GP.ECommerce1.Api.Sql/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
GP.ECommerce1/GP.ECommerce1.Api.Sql/obj/Debug/net6.0/API.AssemblyInfo.cs
GP.ECommerce1/GP.ECommerce1.Api.Sql/obj/Debug/net6.0/API.AssemblyInfoInputs.cache
GP.ECommerce1/GP.ECommerce1.Api.Sql/obj/Debug/net6.0/API.assets.cache
GP.ECommerce1/GP.ECommerce1.Api.Sql/obj/Debug/net6.0/API.csproj.AssemblyReference.cache
GP.ECommerce1/GP.ECommerce1.Api.Sql/obj/Debug/net6.0/API.csproj.CopyComplete
GP.ECommerce1/GP.ECommerce1.Api.Sql/obj/Debug/net6.0/API.csproj.CoreCompileInputs.cache
GP.ECommerce1/GP.ECommerce1.Api.Sql/obj/Debug/net6.0/API.csproj.FileListAbsolute.txt
GP.ECommerce1/GP.ECommerce1.Api.Sql/obj/Debug/net6.0/API.dll
GP.ECommerce1/GP.ECommerce1.Api.Sql/obj/Debug/net6.0/API.GeneratedMSBuildEditorConfig.editorconfig
GP.ECommerce1/GP.ECommerce1.Api.Sql/obj/Debug/net6.0/API.genruntimeconfig.cache
GP.ECommerce1/GP.ECommerce1.Api.Sql/obj/Debug/net6.0/API.GlobalUsings.g.cs
GP.ECommerce1/GP.ECommerce1.Api.Sql/obj/Debug/net6.0/API.MvcApplicationPartsAssemblyInfo.cache
GP.ECommerce1/GP.ECommerce1.Api.Sql/obj/Debug/net6.0/API.MvcApplicationPartsAssemblyInfo.cs
GP.ECommerce1/GP.ECommerce1.Api.Sql/obj/Debug/net6.0/API.pdb
GP.ECommerce1/GP.ECommerce1.Api.Sql/obj/Debug/net6.0/apphost.exe
GP.ECommerce1/GP.ECommerce1.Api.Sql/obj/Debug/net6.0/GP.ECommerce1.Api.Sql.AssemblyInfo.cs
GP.ECommerce1/GP.ECommerce1.Api.Sql/obj/Debug/net6.0/GP.ECommerce1.Api.Sql.AssemblyInfoInputs.cache
GP.ECommerce1/GP.ECommerce1.Api.Sql/obj/Debug/net6.0/GP.ECommerce1.Api.Sql.assets.cache
GP.ECommerce1/GP.ECommerce1.Api.Sql/obj/Debug/net6.0/GP.ECommerce1.Api.Sql.csproj.AssemblyReference.cache
GP.ECommerce1/GP.ECommerce1.Api.Sql/obj/Debug/net6.0/GP.ECommerce1.Api.Sql.GeneratedMSBuildEditorConfig.editorconfig
GP.ECommerce1/GP.ECommerce1.Api.Sql/obj/Debug/net6.0/GP.ECommerce1.Api.Sql.GlobalUsings.g.cs
GP.ECommerce1/GP.ECommerce1.Api.Sql/obj/Debug/net6.0/staticwebassets.build.json
GP.ECommerce1/GP.ECommerce1.Api.Sql/obj/Debug/net6.0/ref/API.dll
GP.ECommerce1/GP.ECommerce1.Api.Sql/obj/Debug/net6.0/refint/API.dll
GP.ECommerce1/GP.ECommerce1.Api.Sql/bin/Debug/net6.0/API.deps.json
GP.ECommerce1/GP.ECommerce1.Api.Sql/bin/Debug/net6.0/API.exe
GP.ECommerce1/GP.ECommerce1.Api.Sql/bin/Debug/net6.0/API.runtimeconfig.json
GP.ECommerce1/GP.ECommerce1.Api.Sql/bin/Debug/net6.0/appsettings.Development.json
GP.ECommerce1/GP.ECommerce1.Api.Sql/bin/Debug/net6.0/appsettings.json
GP.ECommerce1/GP.ECommerce1.Api.Sql/bin/Debug/net6.0/GP.ECommerce1.Api.Sql.dll
GP.ECommerce1/GP.ECommerce1.Api.Sql/bin/Debug/net6.0/GP.ECommerce1.Api.Sql.pdb
GP.ECommerce1/GP.ECommerce1.Api.Sql/bin/Debug/net6.0/GP.ECommerce1.Core.dll
GP.ECommerce1/GP.ECommerce1.Api.Sql/bin/Debug/net6.0/GP.ECommerce1.Core.pdb
GP.ECommerce1/GP.ECommerce1.Api.Sql/bin/Debug/net6.0/GP.ECommerce1.Infrastructure.DataSeeder.dll
GP.ECommerce1/GP.ECommerce1.Api.Sql/bin/Debug/net6.0/GP.ECommerce1.Infrastructure.DataSeeder.pdb
GP.ECommerce1/GP.ECommerce1.Api.Sql/bin/Debug/net6.0/GP.ECommerce1.Infrastructure.Sql.dll
GP.ECommerce1/GP.ECommerce1.Api.Sql/bin/Debug/net6.0/GP.ECommerce1.Infrastructure.Sql.pdb
GP.ECommerce1/GP.ECommerce1.Api.Sql/bin/Debug/net6.0/GP.Utilix.dll
GP.ECommerce1/GP.ECommerce1.Api.Sql/bin/Debug/net6.0/GP.Utilix.pdb
GP.ECommerce1/GP.ECommerce1.Api.Sql/bin/Debug/net6.0/MediatR.Contracts.dll
GP.ECommerce1/GP.ECommerce1.Api.Sql/bin/Debug/net6.0/MediatR.dll
GP.ECommerce1/GP.ECommerce1.Api.Sql/bin/Debug/net6.0/MediatR.Extensions.Microsoft.DependencyInjection.dll
GP.ECommerce1/GP.ECommerce1.Api.Sql/bin/Debug/net6.0/Microsoft.OpenApi.dll
GP.ECommerce1/GP.ECommerce1.Api.Sql/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
GP.ECommerce1/GP.ECommerce1.Api.Sql/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
GP.ECommerce1/GP.ECommerce1.Api.Sql/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
GP.ECommerce1/GP.ECommerce1.Api.Sql/bin/Debug/net6.0/System.Data.SqlClient.dll
GP.ECommerce1/GP.ECommerce1.Api.Sql/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp2.1/System.Data.SqlClient.dll
GP.ECommerce1/GP.ECommerce1.Api.Sql/bin/Debug/net6.0/runtimes/win/lib/netcoreapp2.1/System.Data.SqlClient.dll
GP.ECommerce1/GP.ECommerce1.Api.Sql/bin/Debug/net6.0/runtimes/win-arm64/native/sni.dll
GP.ECommerce1/GP.ECommerce1.Api.Sql/bin/Debug/net6.0/runtimes/win-x64/native/sni.dll
GP.ECommerce1/GP.ECommerce1.Api.Sql/bin/Debug/net6.0/runtimes/win-x86/native/sni.dll
GP.ECommerce1/GP.ECommerce1.Api.MongoDb/obj/GP.ECommerce1.Api.MongoDb.csproj.nuget.dgspec.json
GP.ECommerce1/GP.ECommerce1.Api.MongoDb/obj/GP.ECommerce1.Api.MongoDb.csproj.nuget.g.props
GP.ECommerce1/GP.ECommerce1.Api.MongoDb/obj/GP.ECommerce1.Api.MongoDb.csproj.nuget.g.targets
GP.ECommerce1/GP.ECommerce1.Api.MongoDb/obj/project.assets.json
GP.ECommerce1/GP.ECommerce1.Api.MongoDb/obj/project.nuget.cache
GP.ECommerce1/GP.ECommerce1.Api.MongoDb/obj/project.packagespec.json
GP.ECommerce1/GP.ECommerce1.Api.MongoDb/obj/rider.project.restore.info
GP.ECommerce1/GP.ECommerce1.Api.MongoDb/obj/staticwebassets.pack.sentinel
GP.ECommerce1/GP.ECommerce1.Api.MongoDb/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
GP.ECommerce1/GP.ECommerce1.Api.MongoDb/obj/Debug/net6.0/apphost.exe
GP.ECommerce1/GP.ECommerce1.Api.MongoDb/obj/Debug/net6.0/GP.ECommerce1.Api.MongoDb.AssemblyInfo.cs
GP.ECommerce1/GP.ECommerce1.Api.MongoDb/obj/Debug/net6.0/GP.ECommerce1.Api.MongoDb.AssemblyInfoInputs.cache
GP.ECommerce1/GP.ECommerce1.Api.MongoDb/obj/Debug/net6.0/GP.ECommerce1.Api.MongoDb.assets.cache
GP.ECommerce1/GP.ECommerce1.Api.MongoDb/obj/Debug/net6.0/GP.ECommerce1.Api.MongoDb.csproj.AssemblyReference.cache
GP.ECommerce1/GP.ECommerce1.Api.MongoDb/obj/Debug/net6.0/GP.ECommerce1.Api.MongoDb.csproj.CopyComplete
GP.ECommerce1/GP.ECommerce1.Api.MongoDb/obj/Debug/net6.0/GP.ECommerce1.Api.MongoDb.csproj.CoreCompileInputs.cache
GP.ECommerce1/GP.ECommerce1.Api.MongoDb/obj/Debug/net6.0/GP.ECommerce1.Api.MongoDb.csproj.FileListAbsolute.txt
GP.ECommerce1/GP.ECommerce1.Api.MongoDb/obj/Debug/net6.0/GP.ECommerce1.Api.MongoDb.dll
GP.ECommerce1/GP.ECommerce1.Api.MongoDb/obj/Debug/net6.0/GP.ECommerce1.Api.MongoDb.GeneratedMSBuildEditorConfig.editorconfig
GP.ECommerce1/GP.ECommerce1.Api.MongoDb/obj/Debug/net6.0/GP.ECommerce1.Api.MongoDb.genruntimeconfig.cache
GP.ECommerce1/GP.ECommerce1.Api.MongoDb/obj/Debug/net6.0/GP.ECommerce1.Api.MongoDb.GlobalUsings.g.cs
GP.ECommerce1/GP.ECommerce1.Api.MongoDb/obj/Debug/net6.0/GP.ECommerce1.Api.MongoDb.MvcApplicationPartsAssemblyInfo.cache
GP.ECommerce1/GP.ECommerce1.Api.MongoDb/obj/Debug/net6.0/GP.ECommerce1.Api.MongoDb.MvcApplicationPartsAssemblyInfo.cs
GP.ECommerce1/GP.ECommerce1.Api.MongoDb/obj/Debug/net6.0/GP.ECommerce1.Api.MongoDb.pdb
GP.ECommerce1/GP.ECommerce1.Api.MongoDb/obj/Debug/net6.0/staticwebassets.build.json
GP.ECommerce1/GP.ECommerce1.Api.MongoDb/obj/Debug/net6.0/ref/GP.ECommerce1.Api.MongoDb.dll
GP.ECommerce1/GP.ECommerce1.Api.MongoDb/obj/Debug/net6.0/refint/GP.ECommerce1.Api.MongoDb.dll
GP.ECommerce1/GP.ECommerce1.Api.MongoDb/bin/Debug/net6.0/appsettings.Development.json
GP.ECommerce1/GP.ECommerce1.Api.MongoDb/bin/Debug/net6.0/appsettings.json
GP.ECommerce1/GP.ECommerce1.Api.MongoDb/bin/Debug/net6.0/AutoMapper.dll
GP.ECommerce1/GP.ECommerce1.Api.MongoDb/bin/Debug/net6.0/AutoMapper.Extensions.Microsoft.DependencyInjection.dll
GP.ECommerce1/GP.ECommerce1.Api.MongoDb/bin/Debug/net6.0/DnsClient.dll
GP.ECommerce1/GP.ECommerce1.Api.MongoDb/bin/Debug/net6.0/GP.ECommerce1.Api.MongoDb.deps.json
GP.ECommerce1/GP.ECommerce1.Api.MongoDb/bin/Debug/net6.0/GP.ECommerce1.Api.MongoDb.dll
GP.ECommerce1/GP.ECommerce1.Api.MongoDb/bin/Debug/net6.0/GP.ECommerce1.Api.MongoDb.exe
GP.ECommerce1/GP.ECommerce1.Api.MongoDb/bin/Debug/net6.0/GP.ECommerce1.Api.MongoDb.pdb
GP.ECommerce1/GP.ECommerce1.Api.MongoDb/bin/Debug/net6.0/GP.ECommerce1.Api.MongoDb.runtimeconfig.json
GP.ECommerce1/GP.ECommerce1.Api.MongoDb/bin/Debug/net6.0/GP.ECommerce1.Core.dll
GP.ECommerce1/GP.ECommerce1.Api.MongoDb/bin/Debug/net6.0/GP.ECommerce1.Core.pdb
GP.ECommerce1/GP.ECommerce1.Api.MongoDb/bin/Debug/net6.0/GP.ECommerce1.Infrastructure.MongoDb.dll
GP.ECommerce1/GP.ECommerce1.Api.MongoDb/bin/Debug/net6.0/GP.ECommerce1.Infrastructure.MongoDb.pdb
GP.ECommerce1/GP.ECommerce1.Api.MongoDb/bin/Debug/net6.0/GP.Utilix.dll
GP.ECommerce1/GP.ECommerce1.Api.MongoDb/bin/Debug/net6.0/GP.Utilix.pdb
GP.ECommerce1/GP.ECommerce1.Api.MongoDb/bin/Debug/net6.0/MediatR.Contracts.dll
GP.ECommerce1/GP.ECommerce1.Api.MongoDb/bin/Debug/net6.0/MediatR.dll
GP.ECommerce1/GP.ECommerce1.Api.MongoDb/bin/Debug/net6.0/MediatR.Extensions.Microsoft.DependencyInjection.dll
GP.ECommerce1/GP.ECommerce1.Api.MongoDb/bin/Debug/net6.0/Microsoft.OpenApi.dll
GP.ECommerce1/GP.ECommerce1.Api.MongoDb/bin/Debug/net6.0/MongoDB.Bson.dll
GP.ECommerce1/GP.ECommerce1.Api.MongoDb/bin/Debug/net6.0/MongoDB.Driver.Core.dll
GP.ECommerce1/GP.ECommerce1.Api.MongoDb/bin/Debug/net6.0/MongoDB.Driver.dll
GP.ECommerce1/GP.ECommerce1.Api.MongoDb/bin/Debug/net6.0/MongoDB.Libmongocrypt.dll
GP.ECommerce1/GP.ECommerce1.Api.MongoDb/bin/Debug/net6.0/SharpCompress.dll
GP.ECommerce1/GP.ECommerce1.Api.MongoDb/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
GP.ECommerce1/GP.ECommerce1.Api.MongoDb/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
GP.ECommerce1/GP.ECommerce1.Api.MongoDb/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
GP.ECommerce1/GP.ECommerce1.Api.MongoDb/bin/Debug/net6.0/runtimes/linux/native/libmongocrypt.so
GP.ECommerce1/GP.ECommerce1.Api.MongoDb/bin/Debug/net6.0/runtimes/linux/native/libsnappy64.so
GP.ECommerce1/GP.ECommerce1.Api.MongoDb/bin/Debug/net6.0/runtimes/linux/native/libzstd.so
GP.ECommerce1/GP.ECommerce1.Api.MongoDb/bin/Debug/net6.0/runtimes/osx/native/libmongocrypt.dylib
GP.ECommerce1/GP.ECommerce1.Api.MongoDb/bin/Debug/net6.0/runtimes/osx/native/libsnappy64.dylib
GP.ECommerce1/GP.ECommerce1.Api.MongoDb/bin/Debug/net6.0/runtimes/osx/native/libzstd.dylib
GP.ECommerce1/GP.ECommerce1.Api.MongoDb/bin/Debug/net6.0/runtimes/win/native/libzstd.dll
GP.ECommerce1/GP.ECommerce1.Api.MongoDb/bin/Debug/net6.0/runtimes/win/native/mongocrypt.dll
GP.ECommerce1/GP.ECommerce1.Api.MongoDb/bin/Debug/net6.0/runtimes/win/native/snappy32.dll
GP.ECommerce1/GP.ECommerce1.Api.MongoDb/bin/Debug/net6.0/runtimes/win/native/snappy64.dll
GP.ECommerce1/.idea/.idea.GP.ECommerce1/.idea/.gitignore
GP.ECommerce1/.idea/.idea.GP.ECommerce1/.idea/encodings.xml
GP.ECommerce1/.idea/.idea.GP.ECommerce1/.idea/indexLayout.xml
GP.ECommerce1/.idea/.idea.GP.ECommerce1/.idea/inspectionProfiles/Project_Default.xml
GP.ECommerce1/GP.ECommerce1.Api.Sql/obj/Debug/net6.0/GP.ECommerce1.Api.Sql.dll
GP.ECommerce1/GP.ECommerce1.Api.Sql/obj/Debug/net6.0/GP.ECommerce1.Api.Sql.pdb
