@using GP.ECommerce1.BlazorWebApp.Services.ClientServices

@inject CategoriesClientService _categoriesClientService

<nav class="top-row navbar  navbar-expand-lg  p-0" style="background-color: #086a78">
    <a href="#" class="navbar-brand " style="width: 16%">
        <img class="logoImg" src="Logo.png" height="29" alt="GBV">
    </a>
    <button class="navbar-toggler" type="button" @onclick="ToggleNavMenu" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-solid fa-bars text-white"></i>
    </button>
    <div class="@NavMenuCssClass navbar-collapse" id="navbarNav">
        <!-- pc nav -->
        <ul class="navbar-nav d-none d-lg-flex" style="color: white">
            <NavMenuItem Href="#" IconClass="oi oi-home" ToggleNavMenu="ToggleNavMenu" Text="Home"></NavMenuItem>
            <NavMenuItem Href="Catalog" IconClass="oi oi-list" ToggleNavMenu="ToggleNavMenu" Text="Catalog"></NavMenuItem>
            <DropdownNavMenuItem IconClass="oi oi-list" Text="Schäden" ToggleNavMenu="ToggleNavMenu"
                                             Items="DamagesList"/>
            <DropdownNavMenuItem IconClass="oi oi-list" Text="Stammdaten" ToggleNavMenu="ToggleNavMenu"
                                 Items="MasterDataList"/>
            <DropdownNavMenuItem IconClass="fas fa-print" Text="Konfiguration" ToggleNavMenu="ToggleNavMenu"
                                 Items="ConfigsList"/>
        </ul>
    </div>
</nav>

@code {
    private bool _collapseNavMenu = true;

    private string? NavMenuCssClass => _collapseNavMenu ? "collapse" : null;
    private List<KeyValuePair<string, string>> ConfigsList => new List<KeyValuePair<string, string>>() {
        new("Vorlagen / Ausdrucke", "/ReportTemplatesViewer")
    };
    
    private List<KeyValuePair<string, string>> MasterDataList = new List<KeyValuePair<string, string>> {
        new("Ämter", "/OfficesView"),
        new("Haushaltsstellen", "/HouseHoldPostsView" ),
        new("Sparten",  "/InsuranceBranchesView"),
                    
    };
    private List<KeyValuePair<string, string>> DamagesList = new List<KeyValuePair<string, string>> {
        new("Fahrzeuge Schäden", "/VehicleDamagesView"),
        new("Sonstige", "/CustomDamagesView"),
        new("Wiedervorlagen", "/DamagesWithFollowUpView"),
        new("Auswertungen", "/EvaluationView"),
        new("Statistiken","/StatisticView")
    };

    private DateTime SelectedDate { get; set; } = DateTime.Now;

    private DateTime MinDate { get; set; }

    private void ToggleNavMenu() {
        _collapseNavMenu = !_collapseNavMenu;
    }


}