@page "/"


<div class="hero-image">
    <div class="hero-text">
        <h1 class="text-uppercase" style="font-size:70px">Willkommen auf der STB App</h1>
        <h2>Schadentagebuch</h2>
    </div>
</div>

<div class="container">
    

<div class="row mt-5">
    <div class="col-4">
        
        <div class="shadow p-3" style="height: 100%">
          Wir versichern seit  Jahren viele Gebäude im verschiedene Orte gegen Feuer- und Elementarschäden. Um Sie bestmöglich zu schützen, engagieren wir uns in der Prävention und Intervention.
        </div>
    </div>
    <div class="col-4">
        <div class="shadow p-3" style="height: 100%">
            Wir sind für Sie da – rund um die Uhr und 365 Tage im Jahr. Lassen Sie uns via Online-Formular Ihre Anfrage zukommen, stöbern Sie in unseren zahlreichen Broschüren oder statten Sie sich mit unseren Brandschutzprodukten aus.
        </div>
        
    </div>
    <div class="col-4">
       <div class="shadow p-3" style="height: 100%">
            <h3>Kontakt & Feedback</h3> <br/>
            Egal ob telefonisch, per Mail oder vor Ort – wir sind gerne für Sie da. 
        </div>
        
    </div>
</div>

</div>

